
# A list of programs that are installed in order for this rice to fully work.
# Note that for some programs, ease of installation will depend on your distro. 
cmatrix
compton
dmenu
feh
i3-gaps
i3wm
playerctl
polybar 
pulseaudio
udiskie
vim
xfce4-terminal
